<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>241748771473-7rfda2grc8f7p099bmf98en0q9bcvp18.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.241748771473-7rfda2grc8f7p099bmf98en0q9bcvp18</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>241748771473-0u1ehopjsrlukovm0ul4c5hhg8nam59f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA4HttjUBAvzy_RD40Ud7Gjuw3MfWTdH3A</string>
	<key>GCM_SENDER_ID</key>
	<string>241748771473</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cornelldti.carriagerider</string>
	<key>PROJECT_ID</key>
	<string>flutter-tutorial-256318</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-tutorial-256318.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:241748771473:ios:32ebfaa50082c1035cb530</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-tutorial-256318.firebaseio.com</string>
</dict>
</plist>